
#scoreSpan{
    float:left;
}
#scoreLabel{
    float: left;
    margin-right: 10px;
}

.animateEmphGreen{
    animation: emphGreen 1.9s ease-in-out;
}
.animateEmphRed{
    animation: emphRed 1.9s ease-in-out;
}

@keyframes emphGreen {
  0% {
    transform: rotate(0deg);
    color:inherit;
  }
  25% {
    transform: rotate(-45deg) scale(10, 10) translate(-20px, 0px);
    color:green;
  }
  75% {
    transform: rotate(45deg) scale(10, 10) translate(-20px, 20px);
    color:green;
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes emphRed {
  0% {
    transform: rotate(0deg);
    color:inherit;
  }
  25% {
    transform: rotate(-45deg) scale(10, 10) translate(-20px, 0px);
    color:red;
  }
  75% {
    transform: rotate(45deg) scale(10, 10) translate(-20px, 20px);
    color:red;
  }
  100% {
    transform: rotate(0deg);
  }
}

.sentencediff-subst {
    color:red;
    font-size:1.5em;
}
.sentencediff-deletion {
    color:#ccc;
    font-size:1.5em;
  text-align: center;
  position : relative;
}

.sentencediff-deletion:before {
  position: absolute;
  content : "";
  left  : 50%;
  top   : 0;
  height: 100%;
  width : 0;
  border-right: 1px red solid;

}

.sentencediff-addition{
    color:red;
    font-size:1.5em;
}
.sentencediff-same{
    color:#555;
    font-size:1.5em;
}

.flag-icon-fr {
  background-image: url(../flags/4x3/fr.svg);
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.formSender{
    margin-top:10px;
}

.aws-btn {

--button-default-height: 48px;
--button-default-font-size: 14px;
--button-default-border-radius: 6px;
--button-horizontal-padding: 30px;
--button-raise-level: 5px;
--button-hover-pressure: 2;
--transform-speed: 0.185s;
--button-primary-color: #a84893;
--button-primary-color-dark: #5f1b6b;
--button-primary-color-light: #fff4fe;
--button-primary-color-hover: #9c2064;
--button-primary-border: 0px solid #FFFFFF;
--button-secondary-color: #fffc6c;
--button-secondary-color-dark: #b9b500;
--button-secondary-color-light: #6c6a00;
--button-secondary-color-hover: #fffb3e;
--button-secondary-border: none;
--button-anchor-color: #f3c8ad;
--button-anchor-color-dark: #734922;
--button-anchor-color-light: #4c3016;
--button-anchor-color-hover: #f1bfa0;
--button-anchor-border: 1px solid #8c633c;
}

.anotherExampleButton{
    font-size:12px;
}

/*https://codepen.io/elevaunt/pen/VvKdVa
*/

svg {
  width: 100px;
  display: block;
  margin: 40px auto 0;
}
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}
.path.circle {
  -webkit-animation: dash 0.9s ease-in-out;
  animation: dash 0.9s ease-in-out;
}
.path.line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
  animation: dash 0.9s 0.35s ease-in-out forwards;
}
.path.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
  animation: dash-check 0.9s 0.35s ease-in-out forwards;
}
p {
  text-align: center;
  margin: 20px 0 60px;
  font-size: 1.25em;
}
p.success {
  color: #73AF55;
}
p.error {
  color: #D06079;
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}



